.Notifications{
    padding: 0.5rem;
    border: dotted #e2374c;
}

.Notifications button {
    float: right;
}

[data-notification-type="default"] {
  color: blue;
}

[data-notification-type="urgent"] {
  color: #e2374c;
}